<nav class="navbar navbar-expand-sm navbar1 justify-content-center">
  <div class="my-2 my-lg-0">
    <button  class="btn BtnForNav mr-sm-2" routerLink="register" routerLinkActive="active">Signup</button>
    <button class="btn BtnForNav my-2 my-sm-0" routerLink="login" routerLinkActive="active">Login</button>
  </div>
</nav>



<div class="card text-white CardImage center-content">
  <img src="/assets/img/first-section-bg.png" class="card-img jumbotron CardImage" alt="timepass">
  <div class="card-img-overlay">
    <h1 class="card-title" style="padding-top:10px;Font-size:40px">Commuter Safety</h1>
    <router-outlet class="center-content"></router-outlet>
  </div>
</div>

