<div class="row" >
  <div class="col-4  text-center">
    <p> <h3>Find unsafe area in your route.</h3>
  </div>
  <div class="col-8  text-center">
    <form action="" style="margin-top: 10px">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Source" id="src" name="src">
      </div>

      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Destination" id="dest" name="dest">
      </div>
      <button type="submit" class="btn btn-primary">Search</button>
    </form>

  </div>


</div>
