
<section class="first-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-content">
          <h2>Welcome To Commuter Safety</h2>
          <div class="line-dec"></div>
          <span>This is clean &amp; professional html template</span>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="second-section">
  <div class="container" style="margin-top: 10px">
    <app-search-zone></app-search-zone>
  </div>
</section>




<section class="third-section">
  <div class="container" style="margin-bottom: 0px;width:1000px;height:500px;">
    <div class="row">
      <h3>Know your Location.</h3>
    </div>
    <app-maps></app-maps>
  </div>

</section>


  <div class="row">
    <div class="col-md-7" >
      <b><h2>Danger Zones!!!</h2></b>
    </div>
    <div class="col-md-5">
      <b><h2>Accident Reports.</h2></b>
    </div>
  </div>
  <div class="row" style="width:100%;">
    <div class="col-md-7" >
      <app-zone-list></app-zone-list>
    </div>
    <div class="col-md-5">
      <app-news></app-news>
    </div>

  </div>

<!---
<section class="fivth-section">
  <div class="container">
    <div class="row">
    </div>
  </div>
</section>
--->
<section class="sixth-section">
  <div class="container">
    <div class="row">
      <section class="second-section">
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-6">
              <div class="service-item">
                <div class="icon">
                  <img src="/assets/img/first-icon.png" alt="">
                </div>
                <h4>Quick Editing</h4>
                <p>Aliquam ex velit, viverra eu tristique vel, rhoncus nec ligula. In vel massa sed dolor pharetra interdum vitae posuere.</p>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="service-item">
                <div class="icon">
                  <img src="/assets/img/second-icon.png" alt="">
                </div>
                <h4>Responsive Layout</h4>
                <p>Sed pulvinar ipsum id leo volutpat, in convallis lectus molestie. Aliquam nisi sapien, faucibus eu consequat id, egestas vitae augue.</p>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="service-item">
                <div class="icon">
                  <img src="/assets/img/third-icon.png" alt="">
                </div>
                <h4>Quick Support</h4>
                <p>Aliquam ex velit, viverra eu tristique vel, rhoncus nec ligula. In vel massa sed dolor pharetra interdum vitae posuere.</p>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="service-item">
                <div class="icon">
                  <img src="/assets/img/fourth-icon.png" alt="">
                </div>
                <h4>Voice Chat</h4>
                <p>Sed pulvinar ipsum id leo volutpat, in convallis lectus molestie. Aliquam nisi sapien, faucibus eu consequat id, egestas vitae augue.</p>
              </div>
            </div>
          </div>
        </div>
      </section>

    </div>
  </div>
</section>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa fa-rss"></i></a></li>
          <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
        </ul>
        <p>Copyright &copy; 2017 Company Name

          | Design: Tooplate</p>
      </div>
    </div>
  </div>
</footer>
