



<div class="row">
    <div class="card example-1 scrollbar-deep-purple scrollbar-light-blue"  >
      <div class="card-body">
        <table class="table table-hover">
          <thead>

          <th> ZoneImage</th>
          <th> ZoneDownVote </th>
          <th> ZoneUpVote</th>
          <th> ZoneData</th>
          <th> Give Solution</th>


          </thead>
          <tbody>
          <tr *ngFor="let zone of commutersZone" style="height: 300px">
            <td><img [src]="zone.zoneImage"></td>
            <td>{{zone.zoneStatusUpVote}} <i class="fa fa-thumbs-up"></i></td>
            <td>{{zone.zoneStatusDownVote}} <i class="fa fa-thumbs-down"></i></td>
            <td>{{zone.zoneData}}</td>
            <td> <a href="#">Click here!</a></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>

